<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SELab - ID or PW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height:90vh">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align-self-center" style="text-align:center;">
                <div>
                    <p style="font-weight:bold; font-size:40px">SELab:</p>
                    <p>Hi, It's been A long time.</p>
                    <p>So, in the meantime</p>
                    <p>I prepared this for you :)</p><br>
                    <a class="btn btn-dark" href="/main/recovery/id">Recover ID</a>
                    <a class="btn btn-dark" href="/main/recovery/pw">Recover PW</a>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

</body>
</html>