<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBNU - SELab</title>
    <!-- header -->
    {% block header %}
    <link rel = "stylesheet" href="{% static 'css/base.css' %}?ver=1.2">
    <link rel = "stylesheet" href="{% static 'css/home.css' %}?ver=1.2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        .bg-1{
            color: black;
        }
        .container-fluid {
            padding: 0;
        }

        .carousel-control-prev{
            padding-right: 180px;
            font-size: 50px;
        }
        .carousel-control-next{
            padding-left: 180px;
            font-size: 50px;
        }
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .carousel-item-box{
            border: 1px solid white;
        }
    </style>
    {% endblock %}
</head>
<body>
    <!-- body contents -->
    {% block contents %}

    <!-- <h1 style="font-size:50px;"><FONT face="Blacksword" style="letter-spacing:2px;">We are Software Engineers</FONT></h1><br><br><br> -->
    <div class="container-fluid row main-content">

        <div class="col-sm-6" >
            <h1 class="text-right" style="font-size:80px; color:white;"><FONT face="PlayfairDisplaySC-Bold">Who we are:</FONT></h1>

        </div>
        <div class="col-sm-2">
            <br>
            <h1 class="text-left" style="color: white; font-size:15px;"><FONT face="PlayfairDisplay-Regular">We are a group of top SW Engineers<br>to develop quality software
                    and services as the discipline of developing and applying systematic and quantitative engineering
                    to software development, operation,<br>and management activities.</FONT></h1>
        </div>

        <br>

    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container-fluid" style="background-color:rgba( 0, 0, 0, 0.5 ); padding-top: 30px;">
            <div class="row blog">

                <div class="container">

                    <!-- Carousel -->
                    <div id="blogCarousel" class="carousel slide col-md-12" data-ride="carousel">

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3 carousel-item-box">
                                        <a class="" href="#">
                                            hi<br>
                                            we are selab<br>
                                            welcome to our lab<br>
                                        </a>
                                    </div>
                                    <div class="col-md-3 carousel-item-box">
                                        <a class="" href="#">
                                            hi<br>
                                            we are selab<br>
                                            welcome to our lab<br>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="width:270px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="width:250px;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <br><br><br>

                        <!-- 밑 페이지 indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>


                        <!-- 좌, 우 control buttons
                        <a class="left carousel-control-prev" href="#blogCarousel" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control-next" href="#blogCarousel" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        -->
                    </div>
                    <!--.Carousel-->
                </div>

            </div>
    </div>


    <div class="container-fluid row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" style="border-radius:25px;"></div>
        <div class="col-sm-6 text-center align-self-center"></div>
        <!-- img src="{% static '../static/images/bigbg.jpg' %}" /-->
    </div>

    {% endblock %}
</body>
</html>
