<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBNU - SELab</title>
    <!-- header -->
    {% block header %}
    <link rel = "stylesheet" href="{% static 'css/base.css' %}?ver=1.2">
    <link rel = "stylesheet" href="{% static 'css/home.css' %}?ver=1.2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        .bg-1{
            color: black;
        }
        .container-fluid {
            padding: 0;
        }

    </style>
    {% endblock %}
</head>
<body>
    <!-- body contents -->
    {% block contents %}

    <!-- <h1 style="font-size:50px;"><FONT face="Blacksword" style="letter-spacing:2px;">We are Software Engineers</FONT></h1><br><br><br> -->
    <div class="container-fluid row main-content">

        <div class="col-sm-6" >
            <h1 class="text-right" style="font-size:80px; color:white;"><FONT face="PlayfairDisplaySC-Bold">Who we are:</FONT></h1>

        </div>
        <div class="col-sm-2">
            <br>
            <h1 class="text-left" style="color: white; font-size:15px;"><FONT face="PlayfairDisplay-Regular">We are a group of top SW engineers<br>to develop quality software
                    and services as the discipline of developing and applying systematic and quantitative engineering
                    to software development, operation,<br>and management activities.</FONT></h1>
        </div>

        <br>

    </div>

    <div class="container-fluid"> </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container">
            <div class="row blog">
                <div class="col-md-12">
                    <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="width:250px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="width:250px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="width:250px;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="width:250px;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->

                        <div>
                            <a class="left carousel-control" href="#blogCarousel" role="button" data-slide="prev">
                                <span class="fas fa-envelope"></span> <!-- * 여기 이 지점 -->
                            </a>
                        </div>

                        <br><br><br>
                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>

                    </div>
                    <!--.Carousel-->

                </div>
            </div>
    </div>


    <div class="container-fluid row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" style="border-radius:25px;"></div>
        <div class="col-sm-6 text-center align-self-center"></div>
        <!-- img src="{% static '../static/images/bigbg.jpg' %}" /-->
    </div>

    {% endblock %}
</body>
</html>