<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <!-- header -->
    {% block header %}
    <meta charset="UTF-8">
    <title>CBNU SELab - Publication</title>
    <link rel = "stylesheet" href="{% static 'css/publication.css' %}?ver=1.1">
    <style>
    </style>
    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}
    <div class="container-fluid text-center"><a style="font-size: 50px;">Publication</a></div>
    <div>hi</div>
{% endblock %}
</body>

</html>