<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <!-- header -->
    {% block header %}
    <meta charset="UTF-8">
    <title>CBNU SELab - Publication</title>
    <link rel = "stylesheet" href="{% static 'css/publication.css' %}?ver=1.1">
    <link rel = "stylesheet" href="{% static 'css/people.css' %}?ver=1.7">

    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}
    <div class="panel container-fluid text-center"><a style="font-size: 50px;"><b>Publication</b></a></div>
{% endblock %}
</body>

</html>