<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBNU SELab - people</title>
    <!-- header -->
    {% block header %}
    <link rel = "stylesheet" href="{% static 'css/publication.css' %}?ver=1.1">
    <style>
    </style>

    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}

    <div class="container-fluid text-center">p</div>
    <div class="container-fluid text-center">u</div>
    <div class="container-fluid text-center">b</div>
    <div class="container-fluid text-center">l</div>
    <div class="container-fluid text-center">i</div>
    <div class="container-fluid text-center">c</div>
    <div class="container-fluid text-center">a</div>
    <div class="container-fluid text-center">t</div>
    <div class="container-fluid text-center">i</div>
    <div class="container-fluid text-center">o</div>
    <div class="container-fluid text-center">n</div>
{% endblock %}
</body>

</html>