<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBNU SELab - people</title>
    <!-- header -->
    {% block header %}
    <link rel = "stylesheet" href="{% static 'css/research.css' %}?ver=1.1">
    <style>
    </style>

    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}

    <div class="container-fluid text-center">hi</div>
    <div class="container-fluid text-center">hi</div>
<div class="container-fluid text-center">hi</div>
<div class="container-fluid text-center">hi</div>
<div class="container-fluid text-center">hi</div>
<div class="container-fluid text-center">hi</div>
{% endblock %}
</body>

</html>
