.ml-auto{
    padding-right: 80px;
}
.mr-auto{
    padding-left: 80px;
}
.logoName{
    padding-left: 10px;
    text-decoration: none !important;
    color: black;
    font-size: 19px;
}

.nav-item{
    font-size: 19px;
}

.navbar-nav .nav-item a{
    color: black !important;
}

.main-footer{
    background-color: grey;
}

a:hover{
    text-decoration: none !important;
}

.logoName:hover{
    color: #364F6B !important;
}

#collapsibleNavbar a:hover{
    text-decoration: none !important;
    color: #364F6B !important;
}
#mail_logo{
    color: #353535;
}
.cbnu_logo:hover{
    color: #912B52 !important;
}

/* 세부 메뉴들의 상단 패널 배경색 */
.panel{
    background-color: #EAEAEA;
    margin-bottom: 30px;
    box-shadow: 6px 6px 6px #BDBDBD;
}

.panel-name{
    font-size: 47px;
    /*text-shadow: 3px 2px 2px #ABABAB;*/
}

@font-face{
    font-family: PlayfairDisplay-Bold;
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face{
    font-family: PlayfairDisplay-ExtraBold;
    src: url('../fonts/PlayfairDisplay-ExtraBold.ttf');
}

@font-face{
    font-family: Blacksword;
    src: url('../fonts/Blacksword.otf');
}

@font-face{
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face{
    font-family: PlayfairDisplaySC-Bold;
    src: url('../fonts/PlayfairDisplaySC-Bold.otf');
}

@font-face{
    font-family: bmjua;
    src: url('../fonts/BMJUA_ttf.ttf');
}

