.ml-auto{
    padding-right: 20px;
}
.mr-auto{
    padding-left: 20px;
}

.logoName{
    padding-left: 10px;
    text-decoration: none !important;
    color: #364F6B;
    font-size: 17px;
}

.main-footer{
    background-color: grey;

}
li button a{
    font-size: 17px;

}

a:hover{
    text-decoration: none !important;
}

.logoName:hover{
    color: #4A637F !important;
}

#collapsibleNavbar a:hover{
    text-decoration: none !important;

}
#mail_logo{
    color: #912B52 !important;
}
#mail_logo:hover{
    color: white !important;
}

/* 세부 메뉴들의 상단 패널 배경색 */
.panel{
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px #BDBDBD;
}

.panel-name{
    font-size: 30px;
    /*text-shadow: 3px 2px 2px #ABABAB;*/
}

@font-face{
    font-family: PlayfairDisplay-Bold;
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face{
    font-family: PlayfairDisplay-ExtraBold;
    src: url('../fonts/PlayfairDisplay-ExtraBold.ttf');
}

@font-face{
    font-family: Blacksword;
    src: url('../fonts/Blacksword.otf');
}

@font-face{
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face{
    font-family: PlayfairDisplaySC-Bold;
    src: url('../fonts/PlayfairDisplaySC-Bold.otf');
}

@font-face{
    font-family: bmjua;
    src: url('../fonts/BMJUA_ttf.ttf');
}

