#bg_img2 {
    width: 100%;
    height: 1000px;
    /*background: fixed;*/
    background-image: url(../images/grey_gradation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

table a: hover{
    color: black !important;
}

tr{
    font-size: 14px;
}

.table_title{
    color: black;
}

.table_title:hover {
    color: grey;
}

.table-secondary:hover {
    color: #980000;
}