#bg_img {
    width: 100%;
    height: 1000px;
    background: fixed;
    background-image: url(../images/grey_gradation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
