<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <!-- header -->
    {% block header %}
    <meta charset="UTF-8">
    <title>CBNU SELab - People</title>
    <link rel = "stylesheet" href="{% static 'css/people.css' %}?ver=1.7">
    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}
    <!-- Post Doctor Area -->

    <div class="container-fluid panel">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <a class="panel-name"><b>Post Doctor</b></a><br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- Add button -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' %}
            <a href="/people/add_member/1" class="btn btn-primary" onclick="">Add</a>
        {% endif %}
    </div>



    {% if postDoctor_all %}
    {% for postDoctor in postDoctor_all %}
    <div style="background-color: white; padding-top:20px;" class="member container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                {% if postDoctor.img_upload %}
                <img src="{{ postDoctor.img_upload.url }}" width="170px;" style="border-radius: 7px;">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <a style=" font-size: 25px;"><b>{{ postDoctor.name }}</b></a><br>
                <a style="font-size: 15px;">
                    E-mail: {{ postDoctor.email }}<br><br>
                    {{ postDoctor.content | safe }}<br><br>
                </a>

                <!-- 수정, 삭제 버튼 -->
                <div class="modifyButton" style="text-align: right;">
                    {% if request.user.level == '0' or request.user.level == '1' %}
                        <a href="alumni/{{ postDoctor.id }}/" class="btn btn-info">alumni</a>
                    {% endif %}
                    {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' and request.user.username == postDoctor.name or request.user.level == '2' and request.user.userid == postDoctor.name %}
                        <a href="modify/{{ postDoctor.id }}/" class="btn btn-success">Modify</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".delete_modal">delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 버튼 클릭시, 팝업되는 modal창 -->
    <div id="delete_modal1" class="delete_modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletion Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal1()" type="button" class="btn btn-dark">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function delete_modal1() {
            location.replace('delete/{{ postDoctor.id }}/');
        }
    </script>
    {% endfor %}
    {% endif %}

    <!-- Phd Area -->

    <div class="container-fluid panel">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <a class="panel-name"><b>PhD Course</b></a><br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- Add button -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' %}
            <a href="/people/add_member/2" class="btn btn-primary" onclick="">Add</a>
        {% endif %}
    </div>

    {% if phd_all %}
    {% for phd in phd_all %}
    <div style="background-color: white; padding-top:20px;" class="member container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                {% if phd.img_upload %}
                <img src="{{ phd.img_upload.url }}" width="170px;" style="border-radius: 7px;">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <a style=" font-size: 25px;"><b>{{ phd.name }}</b></a><br>
                <a style="font-size: 15px;">
                    E-mail: {{ phd.email }}<br><br>
                    {{ phd.content | safe }}<br><br>
                </a>

                <!-- 수정, 삭제 버튼 -->
                <div class="modifyButton" style="text-align: right;">
                    {% if request.user.level == '0' or request.user.level == '1' %}
                        <a href="alumni/{{ phd.id }}/" class="btn btn-info">alumni</a>
                    {% endif %}
                    {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' and request.user.username == phd.name or request.user.level == '2' and request.user.userid == phd.name %}
                        <a href="modify/{{ phd.id }}/" class="btn btn-success">Modify</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".delete_modal">delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 버튼 클릭시, 팝업되는 modal창 -->
    <div id="delete_modal2" class="delete_modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletion Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal2()" type="button" class="btn btn-dark">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function delete_modal2() {
            location.replace('delete/{{ phd.id }}/');
        }
    </script>
    {% endfor %}
    {% endif %}


    <!-- Master Area -->
    <div class="container-fluid panel">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <a class="panel-name"><b>Master Course</b></a><br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- Add button -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' %}
            <a href="/people/add_member/3" class="btn btn-primary" onclick="">Add</a>
        {% endif %}
    </div>

    {% if master_all %}
    {% for master in master_all %}
    <div style="background-color: white; padding-top:20px;" class="member container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                {% if master.img_upload %}
                <img src="{{ master.img_upload.url }}" width="170px;" style="border-radius: 7px;">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <a style=" font-size: 25px;"><b>{{ master.name }}</b></a><br>
                <a style="font-size: 15px;">
                    E-mail: {{ master.email }}<br><br>
                    {{ master.content | safe }}<br><br>
                </a>

                <!-- 수정, 삭제 버튼 -->
                <div class="modifyButton" style="text-align: right;">
                    {% if request.user.level == '0' or request.user.level == '1' %}
                        <a href="alumni/{{ master.id }}/" class="btn btn-info">alumni</a>
                    {% endif %}
                    {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' and request.user.username == master.name or request.user.level == '2' and request.user.userid == master.name %}
                        <a href="modify/{{ master.id }}/" class="btn btn-success">Modify</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 버튼 클릭시, 팝업되는 modal창 -->
    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletion Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal()" type="button" class="btn btn-dark">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function delete_modal() {
            location.replace('delete/{{ master.id }}/');
        }
    </script>
    {% endfor %}
    {% endif %}

    <!-- Ungraduate Area -->
    <div class="container-fluid panel">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <a class="panel-name"><b>Undergraduate Course</b></a><br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- Add button -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' %}
            <a href="/people/add_member/4" class="btn btn-primary" onclick="">Add</a>
        {% endif %}
    </div>

    {% if undergraduate_all %}
    {% for undergraduate in undergraduate_all %}
    <div style="background-color: white; padding-top:20px;" class="member container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                {% if undergraduate.img_upload %}
                <img src="{{ undergraduate.img_upload.url }}" width="170px;" style="border-radius: 7px;">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <a style=" font-size: 25px;"><b>{{ undergraduate.name }}</b></a><br>
                <a style="font-size: 15px;">
                    E-mail: {{ undergraduate.email }}<br><br>
                    {{ undergraduate.content | safe }}<br><br>
                </a>

                <!-- 수정, 삭제 버튼 -->
                <div class="modifyButton" style="text-align: right;">
                    {% if request.user.level == '0' or request.user.level == '1' %}
                        <a href="alumni/{{ undergraduate.id }}/" class="btn btn-info">alumni</a>
                    {% endif %}
                    {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '3' and request.user.username == undergraduate.name or request.user.level == '3' and request.user.userid == undergraduate.name %}
                        <a href="modify/{{ undergraduate.id }}/" class="btn btn-success">Modify</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 버튼 클릭시, 팝업되는 modal창 -->
    <div id="delete_modal4" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletion Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal4()" type="button" class="btn btn-dark">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function delete_modal4() {
            location.replace('delete/{{ undergraduate.id }}/');
        }
    </script>
    {% endfor %}
    {% endif %}

    <!-- Alumni Area -->
    <div class="container-fluid panel">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <a class="panel-name"><b>Alumni</b></a><br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- Add button -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' %}
            <a href="/people/add_member/0" class="btn btn-primary" onclick="">Add</a>
        {% endif %}
    </div>

    {% if alumni_all %}
    {% for alumni in alumni_all %}
    <div style="background-color: white; padding-top:20px;" class="member container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                {% if alumni.img_upload %}
                <img src="{{ alumni.img_upload.url }}" width="170px;" style="border-radius: 7px;">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <a style=" font-size: 25px;"><b>{{ alumni.name }}</b></a><br>
                <a style="font-size: 15px;">
                    E-mail: {{ alumni.email }}<br><br>
                    {{ alumni.content | safe }}<br><br>
                </a>

                <!-- 수정, 삭제 버튼 -->
                <div class="modifyButton" style="text-align: right;">
                    {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' and request.user.username == alumni.name or request.user.level == '2' and request.user.userid == alumni.name %}
                        <a href="modify/{{ alumni.id }}/" class="btn btn-success">Modify</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal3">delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 버튼 클릭시, 팝업되는 modal창 -->
    <div id="delete_modal3" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletion Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal3()" type="button" class="btn btn-dark">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function delete_modal3() {
            location.replace('delete/{{ alumni.id }}/');
        }
    </script>
    {% endfor %}
    {% endif %}

{% endblock %}
</body>

</html>
