<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>SELab - Gallery Write</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- margin 간격이 심해 margin-bottom을 0으로 -->
    <style>
        * {
            margin-bottom: 0;
        }
        #id_img{
            height: 40px;
            width: 220px;
        }

        #id_title{
            height: 80px;
        }
    </style>
</head>
<body>

    <br><br>

    <form class="container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <label>Image: </label><br>
            <div style="display: inline-block">
                {{ form.img }}
            </div><br><br>

            <label>Title: </label>
            <div class="card-header">
                {{ form.title }}
            </div><br>

            <p style="color:#BDBDBD">* If you don't use "Image" & "Title", then "Content" will be located in the center.</p><br>

            <label>Content: </label>
            <div>
                {{ form.content }}
            </div>
        </div>

        <!-- 글을 수정할 때와 작성할 때의 차이를 둠 -->
        <div class="text-right">
            {% if edit %} <!-- edit를 찾았을 때 존재하면, -->
            <button type="submit" class="btn btn-sm btn-secondary"><b>{{ edit }}</b></button>
            {% else %}
            <button type="submit" id="write" class="btn btn-md btn-secondary">save</button>
            {% endif %}
        </div>



    </form>
</body>
</html>