<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
  <!-- header -->
    {% block header %}
    <meta charset="UTF-8">
    <title>CBNU SELab - Gallery</title>
    {% endblock %}
</head>
<body>
    {% block contents %}

    <div class="container-fluid">
        <div class="row">
            <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img src="../../static/images/teacher's_day.jpg" width="550px;">
                <a>blahblah~</a><br>
            </div>
            <div class="col-sm-2"></div>
            <br>
        </div>
    </div>
    {% endblock %}
</body>
</html>