<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <!-- header -->
    {% block header %}
    <meta charset="UTF-8">
    <title>CBNU SELab - People</title>
    <link rel = "stylesheet" href="{% static 'css/people.css' %}?ver=1.7">
    <style>
    </style>
    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}

    <div class="panel container-fluid text-center">
        <a style="font-size: 50px; "><b>Professor</b></a><br>
    </div>
    <div id="first_content" class="container-fluid row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="../../static/images/professor_hong.bmp" width="170px;">
        </div>
        <div class="col-lg-8">
            <a style="font-size: 25px;"><b>Jang Eui Hong (홍 장 의)</b></a><br><br>

            {{ people_first.content | safe }}

        </div>
    </div>

    <script>
        var arrInput = new Array(0);
        var arrInputValue = new Array(0);

        function addInput(){
            arrInput.push(arrInput.length);
            arrInput
        }
    </script>

    <!-- 글쓰기 버튼 -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' %}
            <a href="modifyContent/" class="btn btn-success" onclick="addInput();">Modify</a>
        {% endif %}
    </div>




    <div class="panel container-fluid text-center">
        <a style="font-size: 50px;"><b>Members</b></a><br>
    </div>

    <div style="background-color: white; padding-top:20px;" class="member container-fluid row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="../../static/images/docter_ali3.png" width="170px;" style="border-radius: 7px;" />
        </div>
        <div class="col-lg-8">
            <a style=" font-size: 25px;"><b>Nazakat Ali</b></a><br>
            <a style="font-size: 15px;">
                E-mail: nazakatali@selab.cbnu.ac.kr<br><br>
                2018 - 2021, Ph.D. Computer Science, CBNU<br>
                2016 - 2018, M.S. Computer Science, CBNU
                <br>
            </a>
        </div>
    </div>

    <div style="background-color: white; padding-top:20px;" class="member container-fluid row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="../../static/images/master_kyj.jpg" width="170px;" style="border-radius: 7px;" />
        </div>
        <div class="col-lg-8">
            <a style=" font-size: 25px;"><b>Young Jae Kim (김 영 재)</b></a><br>
            <a style="font-size: 15px;">
                E-mail: kyj@selab.cbnu.ac.kr<br><br>
                2020 - Present, M.S. Computer Science, CBNU<br>

                <br>
            </a>
        </div>
        <br>
    </div>

    <div style="background-color: white; padding-top:20px;" class="member container-fluid row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="../../static/images/master_manzoor.png" width="170px;" style="border-radius: 7px;" />
        </div>
        <div class="col-lg-8">
            <a style=" font-size: 25px;"><b>Manzoor Hussain</b></a><br>
            <a style="font-size: 15px;">
                E-mail: hussain@selab.cbnu.ac.kr<br><br>
                2020 - Present, M.S. Computer Science, CBNU<br>

                <br>


            </a>

        </div>
        <br>

    </div>
    <!-- 글쓰기 버튼 -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' %}
            <a href="write/" class="btn btn-primary" onclick="addInput();">Add</a>
            <a href="write/" class="btn btn-success">Modify</a>
            <a href="write/" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>





    <div class="panel container-fluid text-center">
        <a style="font-size: 50px;"><b>Other Staff</b></a><br>
    </div>
    <div style="background-color: white; padding-top:20px;" class="member container-fluid row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="../../static/images/profile_img.png" width="170px;" style="border-radius: 7px;" />
        </div>
        <div class="col-lg-8">
            <a style=" font-size: 25px;"><b>Ha Eun Lee</b></a><br>
            <a style="font-size: 15px;">
                E-mail: @selab.cbnu.ac.kr<br><br>
                2019 - Present, B.S. Software department, CBNU<br>

                <br>


            </a>
        </div>
    </div>

    <!-- 글쓰기 버튼 -->
    <div class="modifyButton" style="text-align: right;">
        {% if request.user.level == '0' or request.user.level == '1' %}
            <a href="write/" class="btn btn-primary" onclick="addInput();">Add</a>
            <a href="write/" class="btn btn-success">Modify</a>
            <a href="write/" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>



{% endblock %}
</body>

</html>
