<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html lang="en">
<head>
    <!-- header -->
    {% block header %}
    <meta charset="UTF-8">
    <title>CBNU SELab - Publication</title>
    <link rel = "stylesheet" href="{% static 'css/publication.css' %}?ver=1.1">
    <link rel = "stylesheet" href="{% static 'css/people.css' %}?ver=1.5">
    <style>
        td a:hover{
            color: grey !important;
            background: grey !important;
        }
        .tap-font{
            color: black;
            font-size: 15px;
            background-color:#F6F6F6;
        }
        .nav-tabs .nav-link.active{
            background-color: white !important; /*#EAEAEA*/
            color: black;
            font-weight: bold;
        }
        .nav-tabs .nav-link:hover{
            background-color: #F6F6F6;
            color: black !important;
        }
        .pagination .active .page-link{
            background-color: #EAEAEA !important;
            border-color: #D5D5D5;
            color: black;
        }
        .page-link{
            color: black;
        }
        .table-head{
            background-color: #F6F6F6;
        }
    </style>
    {% endblock %}
</head>
<!-- body contents -->

<body>
{% block contents %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   <!-- 1 -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>               <!-- 2 -->
    <div class="panel container-fluid text-center"><a class="panel-name"><b>Academic Activity</b></a></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>

            <script>
                // 탭 페이지 고정 - 새로고침 방지
                $(function(){
                    nav_item = "#nav-item" + {{q}};
                    tap = "#tap-" + {{q}};
                    $(nav_item).children().addClass('active');
                    $(tap).addClass('show active');
                })

                // 클릭 이벤트 -> 다른 탭으로 이동하면 페이지 정보 초기화
                $(function(){
                    $('.nav-item').click(function(){
                        var next_q = $(this).attr('id');
                        url = '/ppr/publication/?q=' + next_q[8] + '&?page=1';
                        $(location).attr("href", url);
                    })
                })
            </script>

            <div class="col-lg-8">
                <ul class="nav nav-tabs ">
                    <li id="nav-item1" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-1">International Journal</a></li>
                    <li id="nav-item2" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-2">Domestic Journal</a></li>
                    <li id="nav-item3" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-3">Conference</a></li>
                    <li id="nav-item4" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-4">Award</a></li>
                    <li id="nav-item5" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-5">Research Project</a></li>
                    <li id="nav-item6" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-6">Intellectual Property</a></li>
                    <li id="nav-item7" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-7">Activities</a></li>
                    <li id="nav-item8" class="nav-item"><a class="tap-font nav-link" data-toggle="tab" href="#tap-8">Etc</a></li>
                </ul>
                <div class="tab-content">
                    <!-- international journal list -->
                    <div class="tab-pane fade" id="tap-1">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-head" style="font-size:14px;">
                                    <th style="width:15%">Issued Date</th>
                                    <th style="width:65%; text-align:center">Title</th>
                                    <th style="width:20%; text-align:center">Journals</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% if international_list %}
                                {% for international in international_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/ppr/international/{{ international.id }}/'" {% endif %}>
                                    <td>{{ international.issued_date }}</td>
                                    <td>{{ international.title|truncatechars:200 }}</td>
                                    <td style="text-align:center">{{ international.journals }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- 해외 논문 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/ppr/international_journal_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <div class="row text-center">
                            {% if international_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if international_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=1&page={{ international_list.previous_page_number }}" tabindex="-1">Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range1 %} <!-- 원래 q={{q}}였음, GET 데이터 넘기기 위해 개별 지정 -->
                                <li class="page-item {% if page == international_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=1&page={{ page }}">{{ page }}</a>
                                </li>

                                {% endfor %}

                                {% if international_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=1&page={{ international_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- international journal list -->

                    <!-- Domestic journal list -->
                    <div class="tab-pane fade" id="tap-2">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:15%">Issued Date</th>
                                    <th style="width:65%; text-align:center">Title</th>
                                    <th style="width:20%; text-align:center">Journals</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if domestic_list %}
                                {% for domestic in domestic_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/ppr/domestic/{{ domestic.id }}/'" {% endif %}>
                                    <td>{{ domestic.issued_date }}</td>
                                    <td>{{ domestic.title|truncatechars:80 }}</td>
                                    <td>{{ domestic.journals }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- 국외 논문 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/ppr/domestic_journal_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if domestic_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if domestic_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=2&page={{ domestic_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range2 %}
                                <li class="page-item {% if page == domestic_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=2&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if domestic_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=2&page={{ domestic_list.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <!-- conference -->
                    <div class="tab-pane fade" id="tap-3">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:5%">No.</th>
                                    <th style="width:45%; text-align: center">Title</th>
                                    <th style="width:20%">Academic Conference</th>
                                    <th style="width:15%">Period</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if conference_list %}
                                {% for conference in conference_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/tabs/conference/{{ conference.id }}/'" {% endif %}>
                                    <td>{{ conference.id }}</td>
                                    <td>{{ conference.title|truncatechars:30 }}</td>
                                    <td>{{ conference.academic_conference }}</td>
                                    <td>{{ conference.period }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- conference writing button -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/tabs/conference_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if conference_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if conference_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=3&page={{ conference_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range7 %}
                                <li class="page-item {% if page == conference_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=3&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if conference_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=3&page={{ conference_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>


                    <!-- award -->
                    <div class="tab-pane fade" id="tap-4">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:5%">No.</th>
                                    <th style="width:35%; text-align: center">Title</th>
                                    <th style="width:45%">Content</th>
                                    <th style="width:15%">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if award_list %}
                                {% for award in award_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/tabs/award/{{ award.id }}/'" {% endif %}>
                                    <td>{{ award.id }}</td>
                                    <td>{{ award.title|truncatechars:30 }}</td>
                                    <td>{{ award.content }}</td>
                                    <td>{{ award.date }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- Award 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/tabs/award_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if award_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if award_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=4&page={{ award_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range6 %}
                                <li class="page-item {% if page == award_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=4&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if award_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=4&page={{ award_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <!-- rp -->
                    <div class="tab-pane fade" id="tap-5">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:5%">No.</th>
                                    <th style="width:55%; text-align: center">Title</th>
                                    <th style="width:25%">Related Org.</th>
                                    <th style="width:15%">period</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if rp_list %}
                                {% for rp in rp_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/tabs/rp/{{ rp.id }}/'" {% endif %}>
                                    <td>{{ rp.id }}</td>
                                    <td>{{ rp.title|truncatechars:30 }}</td>
                                    <td>{{ rp.org }}</td>
                                    <td>{{ rp.period }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- 퍼블리케이션 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/tabs/rp_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if rp_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if rp_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=5&page={{ rp_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range3 %}
                                <li class="page-item {% if page == rp_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=5&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if rp_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=5&page={{ rp_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- rp list -->

                    <!-- ip list -->
                    <div class="tab-pane fade" id="tap-6">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:5%">No.</th>
                                    <th style="width:55%; text-align: center">Title</th>
                                    <th style="width:10%">Type</th>
                                    <th style="width:15%">Applicant</th>
                                    <th style="width:15%">Applied Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if ip_list %}
                                {% for ip in ip_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/tabs/ip/{{ ip.id }}/'" {% endif %}>
                                    <td>{{ ip.id }}</td>
                                    <td>{{ ip.title|truncatechars:30 }}</td>
                                    <td>{{ ip.type }}</td>
                                    <td>{{ ip.applicant }}</td>
                                    <td>{{ ip.date }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- 퍼블리케이션 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/tabs/ip_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if ip_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if ip_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=6&page={{ ip_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range4 %}
                                <li class="page-item {% if page == ip_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=6&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if ip_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=6&page={{ ip_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <!-- activities list -->
                    <div class="tab-pane fade" id="tap-7">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:10%">No.</th>
                                    <th style="width:75%; text-align: center">Title</th>
                                    <th style="width:15%">Announced Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if activities_list %}
                                {% for activity in activities_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/tabs/activities/{{ activity.id }}/'" {% endif %}>
                                    <td>{{ activity.id }}</td>
                                    <td>{{ activity.title|truncatechars:30 }}</td>
                                    <td>{{ activity.announced_date }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- 퍼블리케이션 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/tabs/activities_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if activities_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if activities_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=7&page={{ activities_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range5 %}
                                <li class="page-item {% if page == activities_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=7&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if activities_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=7&page={{ activities_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Etc list -->
                    <div class="tab-pane fade" id="tap-8">
                        <table class="table table-hover">
                            <thead>
                                <tr style="font-size:14px;">
                                    <th style="width:15%">Date</th>
                                    <th style="width:42.5%; text-align: center">Title</th>
                                    <th style="width:42.5%; text-align: center">Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if etc_list %}
                                {% for etc in etc_list %}
                                <tr {% if user.is_authenticated %} style="cursor:pointer;" onclick="location.href='/tabs/etc/{{ etc.id }}/'" {% endif %}>
                                    <td>{{ etc.date }}</td>
                                    <td style="text-align:center;">{{ etc.title|truncatechars:30 }}</td>
                                    <td style="text-align:center;">{{ etc.content }}</td>
                                </tr>
                                {% endfor %}
                                {% else %} <!-- 에러처리 영역: 게시글 쿼리셋이 존재하지 않음 -->
                                    {% if q %} <!-- 1. 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            Not any matching results.
                                        </td>
                                    </tr>
                                    {% else %} <!-- 2. q가 없으면 검색어가 아니며, 게시글이 존재하지 않으므로 게시글 미작성 -->
                                    <tr class="text-center">
                                        <td colspan="5">
                                            No posts created.
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- 퍼블리케이션 글쓰기 버튼 -->
                        {% if request.user.level == '0' or request.user.level == '1' %}
                            <a style="float:right" href="/tabs/etc_write/" class="btn btn-secondary">Write</a>
                        {% endif %}

                        <!-- 페이지가 생성되면, -->
                        <div class="row text-center">
                            {% if etc_list %}
                            <ul class="pagination" style="float:none; margin: 0 auto;">

                                <!-- 이전 버튼: 이전 항목이 있을 때 파란 글씨 -->
                                {% if etc_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?type{{ type }}&q=8&page={{ etc_list.previous_page_number }}" tabindex="-1"> Previous</a>
                                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                                </li>
                                {% else %}
                                <!-- 이전 버튼: 이전 항목이 없을 때 회색 글씨 -->
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}

                                <!-- 페이지 번호-->
                                {% for page in page_range8 %}
                                <li class="page-item {% if page == etc_list.number %} active {% endif %}"> <!-- Bootstrap의 activate는 3.x 버전, active는 4.x 버전 -->
                                    <a class="page-link" href="?type={{ type }}&q=8&page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}

                                {% if etc_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?type={{ type }}&q=8&page={{ etc_list.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>
            <!-- col-sm-8 -->
            <div class="col-sm-2"></div>
        </div>

    </div>

    <br>



    <!--
    검색결과 수가 많아 페이지네이션이 적용되었을 때,
    페이지를 넘기면 검색결과가 풀려버리는 버그가 발생한다.
    이 프로젝트에서는 따로 검색 View를 구현하지 않고 ListView로 묶어 구현했기 때문에
    페이지네이션 부분의 href 소스도 파라미터를 전달 할 수 있도록 아래와 같이 수정
    -->
    <div class="container-fluid " style="float:none;">
        <div class="row text-center">
            <!-- 페이지가 생성되면, -->
            {% if is_paginated %}
            <ul class="pagination" style="float:none; margin: 0 auto;">

                <!-- 이전 버튼 -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?type{{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" tabindex="-1"> Previous</a>
                    <!-- <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> 이전</a> ~기존 코드~ -->
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                <!-- 페이지 번호-->
                {% for page in page_range %}
                <li class="page-item {% if page == page_obj.number %} activate {% endif %}"> <!-- view에서 넘겨받은 context 사용 -->
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Next
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}

        </div>
    </div>
    <br><br>




{% endblock %}
</body>

</html>