<!DOCTYPE html>
{% load static %}
<html>
<head>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel = "stylesheet" href="{% static 'css/base.css' %}?ver=2.5">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>

        .menu_focus:hover{
            cursor:pointer;
        }

        .dropdown-item:active {
            background-color: #EAEAEA; /* 클릭시 드롭다운 메뉴 배경색 변경 */
        }


    </style>
    <script type="text/javascript">
        $(function(){
            $("#mail_logo").click(function(){
                var tempElem = document.createElement('textarea');
                tempElem.value = 'jehong@chungbuk.ac.kr';
                document.body.appendChild(tempElem);
                tempElem.select();
                document.execCommand("copy");
                document.body.removeChild(tempElem);
                alert("copied: jehong@chungbuk.ac.kr");
            });
        });
    </script>

    {% block header %}
    <!-- header 삽입 부분 -->
    {% endblock %}
</head>

<body>
    <div id="bg_img">
        <!-- rgba는 배경색만 opacity 효과를 주기 위한 것으로 아래는 0.7의 강도 -->
        <div class="navbar" style="background-color:rgba( 234, 234, 234, 0.60 ); color:grey;">
            <a class="mr-auto font-weight-bold cbnu_logo" style="color:grey;" href="https://chungbuk.ac.kr"><img src="../../static/images/CBNU_logo2.png" width="60px" /></a>
            <a id="mail_logo" class="ml-auto cbnu_logo" href=""><span class="fas fa-envelope"></span> jehong@chungbuk.ac.kr</a>
        </div>

        <nav class="bg-light navbar-light navbar navbar-expand-lg navbar-white sticky-top" style="background-color:rgba( 234, 234, 234, 0.50 ) !important;">
            <a style="margin-left:5px;" class="mr-auto" href="/"><img src="{% static 'images/icon/selab_logo.png' %}" alt="Logo" width="50" /></a>
            <a class="logoName" href="/"><font>Software Engineering Lab</font></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"  href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group">
                            <a class="nav-link menu_focus dropdown-toggle" data-toggle="dropdown" aria-expanded="false">People</a>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item " style="width: 100%" href="/people/professor">Professor</a>
                                <a class="dropdown-item " style="width: 100%" href="/people/members">Members</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/ppr/publication">Publication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/ppr/research">Project & Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/notice">Notice</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/ppr/gallery">Gallery</a>
                    </li>
                </ul>
            </div>
        </nav>


        {% block contents %}

        <!-- body contents -->
        {% endblock %}
    </div> <!-- 와, 이게 되네 -->


    <div class="container-fluid main-footer">
        <div class="row">
            <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="padding-top:30px; padding-bottom:30px; color:white;">
                <a>Copyright © CBNU SELab. All Rights Reserved.</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'main:logout' %}?next={{ request.path }}" style="color:white;"> Logout</a>
                {% else %}
                    <a href="{% url 'main:login' %}?next={{ request.path }}" style="color:white;"> Login</a>
                {% endif %}

                {% if request.user.level == '0' or request.user.level == '1' %}
                    {% if request.user.activate == False %}
                    <a href="{% url 'main:activate' %}" style="color:white;"><b> Activate</b></a>
                    {% else %}
                    <a href="{% url 'main:activate' %}" style="color:white;"><b> Deactivate</b></a>
                    {% endif %}
                {% endif %}
                <br>
                <a>Address: (S4-1)-303(3F), Chungdae-ro 1, Seowon-gu, Cheongju, Chungbuk, 28644, Republic of Korea</a><br>
                <a>주소: (28644) 충북 청주시 서원구 충대로 1, 충북대학교 전자정보대학 소프트웨어학과 S4-1동(전자정보 3관) 303호</a><br>
                <a>Tel) Fax)</a><br>
                <a>Developer e-mail: takurway@gmail.com</a>
            </div>
            <div class="col-sm-2">

            </div>
            <br>
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>
        alert("{{ message.message }}") <!-- message alert script -->
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>

</html>