<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        .ml-auto{
            padding-right: 20px;
        }
        .mr-auto{
            padding-left: 20px;
        }
        .navbar-brand{
            font-size: 15px;
        }
        .logoName{
            padding-left: 10px;
            text-decoration: none;
            color: white;
        }
        a:hover{
            text-decoration: none;
            color: white;
        }
    </style>

    {% block header %}
    <!-- header 삽입 부분 -->
    {% endblock %}
</head>

<body style="background-color: #343A40;">
    <nav class="bg-dark navbar-dark navbar navbar-expand-sm navbar-white sticky-top">

        <a class="mr-auto"><img src="{% static 'images/SELab_logo2-removed.png' %}" alt="Logo" width="55" /></a>
        <a class="logoName" href="#">소프트웨어 공학 연구실</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notice</a>
                </li>

            </ul>
        </div>
    </nav>



    {% block contents %}
    <!-- body -->
    {% endblock %}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>
        alert("{{ message.message }}") <!-- message alert script -->
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>

</html>